<template name='addTags'>
    <div class="bar bar-header has-tabs-top bar-positive" id="addTagsHead">
        <div class="h1 title">
            Choose Tags
        </div>
    </div>
<div class="container">
<div class="bar bar-header item-input-inset" style="margin-top:50px" id="addTagsSearch">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input class="searchTagsField" id="searchTagsField" type="search" placeholder="Search">
        </label>
        <button id="cancelSearch" class="button button-clear">
            Cancel
        </button>
</div>
      <ul class="list">
      {{tags}}
          {{#if checkedTags}}
      <p>Checked Tags:</p>
          {{/if}}
      {{#each checkedTags}}
      <li class="item item-toggle">
           {{cName}}
           <label class="toggle toggle-positive">
          
           <input class='tagCheck' name='{{cName}}'  checked type="checkbox"  value="{{cId}}">
          
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        {{/each}}
        <p>Other Tags:</p>
        {{#each uncheckedTags}}
      <li class="item item-toggle">
           {{cName}}
           <label class="toggle toggle-positive">
          
           <input class='tagCheck' name='{{cName}}'  type="checkbox"  value="{{cId}}">
          
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        {{/each}}
      </ul>
      {{#if tagsError}}
           <div class="alert alert-danger" role="alert">
             {{tagsError}}
           </div>         
      {{/if}}
      <button class='btn btn-primary submitTags'>Done Choose Tags</button>
    </div>
</template>