<template name="answerDetail">
      <div class="bar bar-header has-tabs-top bar-positive" id="questionhead">
     <button class="buttons button button-clear back-button pull-left button-entering button-active backButton">
            <i class="icon ion-ios-arrow-back"></i>
              <span class="back-text">
               Back
              </span> 
        </button>    
    </div>
    <!-- <div class="padding"> -->
	 <div class="container">
        <div class="content padding contact-detail overflow-scroll has-header" style="padding:33px;">
         <div class='list card'>
          {{#with data}}
             <div class="item"> 
              <div class="item-body">
              <div class='row' style="width:100%">
               <div class='col-lg-12'>
    	           <label>Answer Content:</label>
                 <br>
                 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}</p>
                 <a href='http://54.191.134.26:3000/chat/{{fId}}/{{tId}}/{{uuid}}'><button >chat</button></a>
               </div>        
              </div>
              </div>
             </div>    
          {{/with}}
        </div>
    </div>
    </div>  
</template>
