<template name="answerDetail">
      <div class="bar bar-header has-tabs-top bar-positive" id="questionhead">
     <button class="buttons button button-clear back-button pull-left button-entering button-active backButton">
            <i class="icon ion-ios-arrow-back"></i>
              <span class="back-text">
               Back
              </span> 
        </button>    
    </div>
    <!-- <div class="padding"> -->
	 <div class="container">
        <div class="content padding contact-detail overflow-scroll has-header" style="">
         <div class='list card' style="margin-top:0px;margin-bottom:0px">
          {{#with data}}
             <div class="item" style="padding:0px 16px 0px 16px">
              <div class="item-body" style="padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px">
              <div class='row' style="width:100%">
               <div class='col-lg-12 item item-body item-text-wrap' style="padding:0px 10px 0px 10px">
    	           <label style="color:grey">Answer Content:</label>
                 <br>
                 <p style="color:black">{{content}}</p>
                   <!--<a href='http://54.191.134.26:3000/chat/{{fId}}/{{tId}}/{{uuid}}'><button >chat</button></a>-->

                   Contact Expertise:
                   <div class="contactAerButton">
                 <button class="chatlink icon ion-ios-email button button-calm">Text</button>
                 <button class="videolink icon ion-ios-camera button button-calm">Video</button>
                    </div>
               </div>
              </div>
              </div>
             </div>    
          {{/with}}
         <div class='row'>
          <div class='col-lg-2'>
            <h4>Uploaded Images:</h4>
          </div>
          </div>

          <div class='row'>
          {{#if images}}
           <div class='col-lg-10'>
           <br>
           <div class="documentList">
              <ul class="list-inline">
                 {{#each images}}
                    <div class="col-lg-6">
                    <li class="documentItem" style="border:none">
                       <a href={{url}}><img src='{{url}}'/></a> 
                      <br>
                    </li>
                    </div>              
                 {{/each}}   
              </ul>
           </div>
           </div>
           {{/if}}

           {{#if cameraImages}}
           <div class='col-lg-6'>
           <br>
           <div class="documentList">
              <ul class="list-inline">
                 {{#each cameraImages}}
                 <div class="row"> 
                    <div class="col-lg-6">
                    <li class="documentItem" style="border:none">
                       <img src='{{this.img64}}'/> 
                      <br>
                    </li>
                    </div>
                 </div>
                 {{/each}}   
              </ul>
           </div>
           </div>
           {{/if}}
          </div>
         </div>
         {{#if isOpen}}
          {{#if owns}}
           <div class='row'>
             <div class='col-lg-2'>
               <button class='button button-energized ion-trophy asBestAnswer'>Choose as the Best</button>
             </div>
           </div>
           {{/if}} 
          {{/if}} 
         </div>
         
    </div>
  
</template>
