<template name="answerDetail">
      <div class="bar bar-header has-tabs-top bar-positive" id="questionhead">
     <button class="buttons button button-clear back-button pull-left button-entering button-active backButton">
            <i class="icon ion-ios-arrow-back"></i>
              <span class="back-text">
               Back
              </span> 
        </button>    
        <div class="h1 title">
            View Answer
        </div>
    </div>
    <!-- <div class="padding"> -->
	 <div class="container">
        <div class="content padding contact-detail overflow-scroll has-header" style="padding:33px;">
         <div class='list card'>
          
          {{#with data}}
             <div class="item"> 
              <div class="item-body">
              <div class='row' style="width:110%">
               <div class='col-lg-12'>
    	           <label>Answer Content:</label>
                 <br>
                 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}{{content}}</p>
               </div>        
              </div>
              </div>
             </div>    

         <!--    <div class="row">        
    			  <div class="col-lg-6 ">
    			    <a href="http://54.191.134.26:3000/upload/37419ef5-a43e-478b-a59d-f2839b7bdc12/device-2013-08-24-195926.png" class="thumbnail">
    			      <img  src="http://54.191.134.26:3000/upload/37419ef5-a43e-478b-a59d-f2839b7bdc12/device-2013-08-24-195926.png">
    			    </a>
            </div>
            </div>

            <div class="row">       
            <div class="col-lg-6 ">
              <a href="http://54.191.134.26:3000/upload/37419ef5-a43e-478b-a59d-f2839b7bdc12/device-2013-08-24-195926.png" class="thumbnail">
                <img  src="http://54.191.134.26:3000/upload/37419ef5-a43e-478b-a59d-f2839b7bdc12/device-2013-08-24-195926.png">
              </a>
            </div>
            </div>

            <div class="row">        
            <div class="col-lg-6 ">
              <a href="http://54.191.134.26:3000/upload/37419ef5-a43e-478b-a59d-f2839b7bdc12/device-2013-08-24-195926.png" class="thumbnail">
                <img  src="http://54.191.134.26:3000/upload/37419ef5-a43e-478b-a59d-f2839b7bdc12/device-2013-08-24-195926.png">
              </a>
            </div>
            </div>

            <div class="row">
            <div class="col-lg-6 ">
              <a href="http://54.191.134.26:3000/upload/37419ef5-a43e-478b-a59d-f2839b7bdc12/device-2013-08-24-195926.png" class="thumbnail">
                <img  src="http://54.191.134.26:3000/upload/37419ef5-a43e-478b-a59d-f2839b7bdc12/device-2013-08-24-195926.png">
              </a>
            </div>
            </div> -->

            
              
          
          {{/with}}
        </div>
    </div>
    </div>  
</template>
