<template name='main'>

    <div class="bar bar-header has-tabs-top bar-positive" id="mainHead">
      <p class="pull-left">{{userEmail}}</p>
        <div class="h1 title">
          Q&A Patform
      </div>
        <button class="logoutbutton buttons button button-clear back-button pull-right button-entering button-active backButton">
            <i class="ion-log-out"></i>
              <span class="back-text">
               Log out
              </span>
        </button>
    </div>
    <div class="row" style="margin-top:80px">
        <div class='col-sm-4' style="margin-left:35px">
        </div>
        <div class="col-sm-4">
           <div class='col-sm-3'>
            <a href={{pathFor 'questionsPost'}}> 
              <img class="img-circle img-responsive img-center" src="createQuestion.png" alt="" style="height:100px">
            </a>
           </div>
        </div>
        <div class="col-sm-4">
          <div class='col-sm-3'>
            <a>
              <img id="questions" class="img-circle img-responsive img-center" src="questions.png" alt="" style="height:100px">
            </a>  
          </div>
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class='col-sm-4' style="margin-left:35px">
        </div>
        <div class="col-sm-4">
          <div class='col-sm-3'>
           <a href={{pathFor 'notifications'}}>
              <img class="img-circle img-responsive img-center" src="notifications{{notificationCount}}.png" alt="" style="height:100px">
            </a>
          </div> 
        </div>
        <div class="col-sm-4">
         <div class='col-sm-3'>
            <a href={{pathFor 'userProfile'}}>
              <img class="img-circle img-responsive img-center" src="settings.png" alt="" style="height:100px">
            </a>
         </div>
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class='col-sm-4' style="margin-left:35px">
        </div>
        <div class="col-sm-4">
          <div class='col-sm-3'>
            <a href='/login'> 
              <img class="img-circle img-responsive img-center" src="-text.png" alt="" style="height:100px">
            </a>
            </div>
            <!-- <h2>Ask a Question:</h2> -->
        </div>
        <div class="col-sm-4">
           <div class='col-sm-3'> 
            <a herf='/login'>
              <img class="img-circle img-responsive img-center" src="-text.png" alt="" style="height:100px">
            </a>
            </div>  
            <!-- <h2>Answer a Question</h2> -->
        </div>
    </div>
  
  <div class="tabs-striped tabs-color-assertive" id="mainBottom">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div>
</template>