<template name='addTags'>
<div class="content has-header">
<div class="bar bar-header item-input-inset" style="margin-top:50px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input class="searchTagsField" id="searchTagsField" type="search" placeholder="Search">
        </label>
        <button id="cancelSearch" class="button button-clear">
            Cancel
        </button>
</div>
      <ul class="list">
      {{tags}}
      <p>Checked Tags:</p>
      {{#each checkedTags}}
      <li class="item item-toggle">
           {{cName}}
           <label class="toggle toggle-positive">
          
           <input class='tagCheck' name='{{cName}}'  checked type="checkbox"  value="{{cId}}">
          
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        {{/each}}
        <p>Other Tags:</p>
        {{#each uncheckedTags}}
      <li class="item item-toggle">
           {{cName}}
           <label class="toggle toggle-positive">
          
           <input class='tagCheck' name='{{cName}}'  type="checkbox"  value="{{cId}}">
          
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        {{/each}}
        <!-- <li class="item item-toggle">
           HTML5
           <label class="toggle toggle-positive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           CSS3
           <label class="toggle toggle-calm">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Flashplayer
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Java Applets
           <label class="toggle toggle-energized">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           JavaScript
           <label class="toggle toggle-assertive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Silverlight
           <label class="toggle toggle-royal">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Web Components
           <label class="toggle toggle-dark">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li> -->
      </ul>
      {{#if tagsError}}
           <div class="alert alert-danger" role="alert">
             {{tagsError}}
           </div>         
      {{/if}}
      <button class='btn btn-primary submitTags'>Submit Tags</button>
    </div>
</template>