<template name="questionDetail">
<!-- <div class="modal-backdrop active">
    <div class="modal-wrapper">
      <div class="modal"> -->
      <div class="bar bar-header has-tabs-top bar-positive" id="questionhead">
     <button class="buttons button button-clear back-button pull-left button-entering button-active backButton">
            <i class="icon ion-ios-arrow-back"></i>
              <span class="back-text">
               Back
              </span> 
        </button>    
        <div class="h1 title">
            View Question
        </div>
    </div>
    <!-- <div class="padding"> -->
	 <div class="container">
        <div class="content padding contact-detail overflow-scroll has-header" style="padding:6px;top:44px">
            <div class='row'>
            {{#each c in categories}}
            <div class="col" style="max-width:200px">
                <div class="categoryCard">{{c}}</div>
            </div>
            {{/each}}
                </div>
        {{#with data}}
        <div class="list card" id="questionDetailList">
          <div class="item">
            <div class='row'>
	            <div class='col-lg-5 h1 title item item-text-wrap'>
	             {{title}}
	            </div>
            </div>
            {{#unless isOpen}}
            <div class="alert alert-danger" style="width:20%">
              <div class='row'>
               <div class='col-lg-4'>
               </div>
                <div class='col-lg-8'>
                  Question Closed
                </div>
              </div>
            </div>

            {{/unless}}
          <div class="item item-body item-text-wrap" style="height:100%px;margin-left:-15px">
	             {{content}}
          </div>
          
          <div class="row">
          {{#each q in imageUrls}}
			       <div class="col-xs-6 col-md-3">
    			    <a href="{{q}}" class="thumbnail">
    			      <img src="{{q}}" height='40%'>
    			    </a>
             </div>
          {{/each}}  
           {{#each cameraImages}}
             <div class="col-xs-6 col-md-3">
              <a class='singleImg' href='/img/{{id}}'><img src="{{img64}}" height='100%' width="100%"></a>
             </div>
        {{/each}}
          </div>
        </div>
       </div>
    {{/with}}
           
            <div class="card">
                <p style="color:grey">{{answerCount}} ANSWERS</p>
            </div>
            {{#if isOpen}}
            <div class="card">
              <a href='/answerpost'><button class='btn btn-success'>I could help</button></a>
            </div>
            {{/if}}
            <div class="card">
      {{#each answers}}
        <details class="item item-text-wrap">
         {{#if abbr}}
          <summary style='font-size:110%'>{{abbr}}
              <div class="answer pull-right">
                  {{#if isBest}}
                  <div class="ion-ribbon-b"></div>
                  {{/if}}
                  <div style="color:grey;font-size:x-small">&nbsp;&nbsp;{{answerer}}&nbsp;&nbsp;{{createDate}}</div>
              </div>
          </summary>
          <!-- <a href='http://54.191.134.26:3000/chat/{{fId}}/{{tId}}{{uuid}}'><button >chat</button></a> -->
          {{else}}
          <!-- <a href='http://54.191.134.26:3000/chat/{fId}/{{tId}}/{{uuid}}'><button >chat</button></a> -->
          <summary style='font-size:110%'>{{detail}}
              <div class="answer pull-right">
                  {{#if isBest}}
                  <div class="ion-ribbon-b"></div>
                  {{/if}}
                  <div style="color:grey;font-size:x-small">&nbsp;&nbsp;{{answerer}}&nbsp;&nbsp;{{createDate}}</div>
              </div>
          </summary>
          {{/if}}
          <div class="item row" style="margin-left:0px">
            <div class='col-lg-2'>
            <div class=' col-lg-8'>
            <br>
            <a href='/answer/{{aId}}'><p class="item item-text-wrap">{{detail}}</p></a>
            </div>
            </div>
          </div>
        </details>
      {{/each}}
      </div>
      </div>
	    </div>

   </template>