<template name="questions">
    <div class="container">
        <div class="header">
            <h2><center>Questions Asked</center></h2>
            <div class="bar bar-header item-input-inset" style="margin-top:50px">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input class="searchField" id="searchField" type="search" placeholder="Search">
                </label>
                <button id="cancelSearch" class="button button-clear">
                    Cancel
                </button>
            </div>
        </div>
        <div class="content">
            <ul class="list">
                {{#each q in questions}}
                <li class="item" id = {{q.qId}}>{{q.credit}} {{q.title}} {{#if q.isOpen}} Open {{else}} Closed {{/if}} </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>