<template name="questionDetail">
<!-- <div class="modal-backdrop active">
    <div class="modal-wrapper">
      <div class="modal"> -->
      <div class="bar bar-header has-tabs-top bar-positive" id="questionhead">
     <button class="buttons button button-clear back-button pull-left button-entering button-active backButton">
            <i class="icon ion-ios-arrow-back"></i>
              <span class="back-text">
               Back
              </span> 
        </button>    
        <div class="h1 title">
            Question
        </div>
    </div>
    <!-- <div class="padding"> -->
	 <div class="container">
        <div class="content padding contact-detail overflow-scroll has-header" style="padding:6px;top:40px">
            <div class='row' style="padding-top:0px">
            {{#each c in categories}}
            <div class="col" style="max-width:200px">
                <div class="categoryCard">{{c}}</div>
            </div>
            {{/each}}
                </div>
        {{#with data}}
        <div class="list card" id="questionDetailList">
          <div class="item" style="padding:0px">
            <div class='row'>
	            <div class='col-lg-5 h1 title item item-text-wrap' style="padding-top:0px">
	             {{title}} <p>By&nbsp;{{questioner}}&nbsp;${{credit}}</p>
	            </div>
            </div>
            {{#unless isOpen}}
              <div>
              <img class="img-responsive img-center" src="closeImage.png" style="height:70px">
                  </div>
            {{/unless}}
          <div class="item-body item-text-wrap" style="height:100%px;margin-left:-15px;padding:0px 16px 0px 16px">
	             {{content}}
          </div>

          
          <div class="row">
          {{#each q in imageUrls}}
			       <div class="col-xs-6 col-md-3">
    			    <a href="{{q}}" class="thumbnail">
    			      <img src="{{q}}" height='40%'>
    			    </a>
             </div>
          {{/each}}  
           {{#each cameraImages}}
             <div class="col-xs-6 col-md-3">
              <a class='singleImg' href='/img/{{id}}'><img src="{{img64}}" height='100%' width="100%"></a>
             </div>
        {{/each}}
          </div>
              {{#if isOpen}}
              {{#if isNotSelf}}
              <a href='/answerpost' style="padding:0px 5px 5px 5px">
                  <button class='ion-ios-compose button button-positive' style="margin-bottom:5px">
                      Write Answer
                  </button>
              </a>
              {{/if}}
              {{/if}}
        </div>
       </div>
    {{/with}}
            <div class="card" style="margin-top:10px;margin-bottom:10px">
                <p style="color:grey;margin-bottom:0px">{{answerCount}} ANSWERS</p>
            </div>
            {{#if answers}}
            <div class="card">
      {{#each answers}}
        <details class="item item-text-wrap">
          <summary style='font-size:110%;white-space: nowrap;'>{{detail}}
              <div class="answer pull-right">
                  {{#if isBest}}
                  <div class="ion-ribbon-b"></div>
                  {{/if}}
                  <div style="color:grey;font-size:x-small">&nbsp;&nbsp;{{answerer}}&nbsp;&nbsp;{{createDate}}</div>
              </div>
          </summary>
          <!--{{/if}}-->
          <div class="item row" style="margin-left:0px">
            <div class='col-lg-2'>
            <div class=' col-lg-8'>
            <br>
            <a href='/answer/{{aId}}'><p class="item item-text-wrap" style="padding:0px;color:black">{{detail}}</p></a>
            </div>
            </div>
          </div>
        </details>
      {{/each}}
      </div>
            {{/if}}
      </div>
	    </div>

   </template>