<template name='questionsPost'>
  <div class="bar bar-header has-tabs-top bar-positive">
      <div class="h1 title">
      Post a Question
      </div>
  </div>
  <div class='container' style="margin-top:50px"> 
  <form  id='questionsPost' class="form-horizontal well">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01" >Question Title:</label>
            <p></p>
            <div class="controls bootstrap-tagsinput">
              <input class='questionTitle'  type="text" id="input01" maxlength='35' placeholder='Question Title' style="width:70%">
              <p></p>
            </div>
          {{#if validateQuestionTitle}}
           <div class="alert alert-danger" role="alert">
             {{validateQuestionTitle}}
           </div>
           {{else}}
            <label style='font-size:85%' class="label label-info">
		          Briefly describe your question.
            </label>
            {{/if}}
          </div>

          <div class="control-group">
            <label class="control-label" for="textarea">Question Content:</label>
            <p></p>
            <div class="controls">
              <textarea class="form-control input-xlarge questionContent" id="textarea" rows="3" placeholder='Question Content'></textarea>
            </div>
            <p></p>
            {{#if validateQuestionContent}}
           <div class="alert alert-danger" role="alert">
             {{validateQuestionContent}}
           </div>
           {{else}}
            <label style='font-size:85%' class="label label-info">
	          Try to be more detailed to receive better answers.
            </label>
            {{/if}}
            <p></p>
          </div>

          <div class="control-group warning">
            <div class="controls">
              <span class="help-inline"></span>
            </div>
          </div>
         <div class='row'>
         <div class='col-lg-6'>
         <label class="control-label">Question Categories:</label>
         <br>
         </div>
         </div>

         {{#if tags}}
          <div class='row'>
          {{#each tags}}
            <div class="col">
             <div class="categoryCard">{{cName}}</div>
            </div>
          {{/each}}
          </div>
          <div class='row'>
            <div class='col-lg-3'> 
              <a href={{pathFor 'addTags'}}><button type='button' class='btn btn-primary'>Edit Added Tags</button></a>
            </div>
          </div>
          {{else}}
          <div class='col-lg-6'>
          <a href={{pathFor 'addTags'}} class="button icon-right ion-chevron-right button-calm activated">
           Add Question Tags 
          </a>
          </div>
         {{/if}}
         <br>
         <a href='http://54.191.134.26:3000/home'><button type='button' class='btn btn-priamry add-pictures'>add pictures</button></a>
            <div class="control-group">
                <label class="control-label">Add Credit to attract more answers: <a id="creditSet"></a></label>
                <div class="controls">
                    <div class="item range range-positive">
                        <i>0</i>
                        <input class="creditAmountBar" id="creditAmountBar" type="range" name="volume" min="0" max={{maxCredit}} value=0>
                        <i>{{maxCredit}}</i>
                    </div>
                </div>
            </div>
         <div class='row'>
         <div class='col-lg-4'>
         {{#if message}}
           <div class="alert alert-danger" role="alert">
         {{message}}
         </div>
         {{/if}}
         </div>
         <div class='col-lg-3'>
            <div class="form-actions" style="vertical-align:center">
              <button type="submit" class="btn btn-primary">Ask Question</button>
              <button type="reset" class="btn" id="cancleButton">Cancel</button>
            </div>
        </div>
         </div>
        </fieldset>
      </form>
     </div>
     <div class="tabs-striped tabs-color-assertive">
        <div class="tabs">
      <a class="tab-item active" href={{pathFor 'main'}}>
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
        </div>
     </div>
</template>