<template name="questions">
    <div class="bar bar-header has-tabs-top bar-positive" id="questionhead">
         <button class="buttons button button-clear back-button pull-left button-entering button-active backButton">
            <i class="icon ion-ios-arrow-back"></i>
              <span class="back-text">
               Back
              </span> 
        </button>
        <div class="h1 title">
            Questions
        </div>
    </div>
    <div class="container">
        <div class="header">
            <div class="bar bar-header item-input-inset" style="margin-top:50px" id="searchcss">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input class="searchField" id="searchField" type="search" placeholder="Search">
                </label>
                <button id="cancelSearch" class="button button-clear">
                    Cancel
                </button>
            </div>
        </div>
            <div class="list">
                {{#each q in questions}}
                    <a class="item" href='/question/{{q.qId}}'>
                        <article class="question">
                         <div class='row'>
                          <div class='col-lg-1'> 
                            <div class="create-date">
                                <p class="create-month">{{q.createMonth}}</p>
                                <p class="create-day">{{q.createDay}}</p>
                            </div>
                          </div>
                          <div class="col-lg-9">
                            <div class="question-desc">
                                <h4 class="question-desc-header" id='{{q.qId}}'>{{q.displayTitle}}</h4>
                                <p class="question-desc-detail">{{q.displayContent}}</p>
                                 {{#if q.imageUrls.length}}
                                 <span class="label label-success">Images Attached</span>
                                 {{/if}}
                            </div>
                          </div>  
                        <!-- 
                        <div class='col-lg-2'>
                           
                                <button class="btn btn-primary viewQuestion" data-ion-modal="questionDetail">View Question</button>                           
                        </div>
                         --></div>
                        </article>
                    </a>
                {{/each}}
            </div>
    </div>
    <div class="tabs-striped tabs-color-assertive">
        <div class="tabs" id="bottom">
            <p class="tab-item {{#if questionsaskedactive}} active {{/if}}" id="questionsasked">
                Questions Asked
            </p>
            <p class="tab-item {{#if questionsaskedactive}} {{else}} active {{/if}}" id="questionsanswered">
                Questions Answered
            </p>
        </div>
    </div>
</template>