<template name="questionDetail">
<!-- <div class="modal-backdrop active">
    <div class="modal-wrapper">
      <div class="modal"> -->
      <div class="bar bar-header has-tabs-top bar-positive" id="questionhead">
     <button class="buttons button button-clear back-button pull-left button-entering button-active backButton">
            <i class="icon ion-ios-arrow-back"></i>
              <span class="back-text">
               Back
              </span> 
        </button>    
        <div class="h1 title">
            View Question
        </div>
    </div>
    <!-- <div class="padding"> -->
	 <div class="container">
        <div class="content padding contact-detail overflow-scroll has-header" style="padding:33px;top:0px">
        {{#with data}}
      
        <div class="list card">
          <div class="item">
            <div class='row'>
            
	            <div class='col-lg-5'>
	            <label class="control-label" >Question Title:</label>
              <br>
	             {{title}}
	            </div>
            </div>

          <div class="item item-body" style="height:100%px;margin-left:-15px">
	            <label class="control-label" >Question Content:</label>
	             <br>{{content}}
          </div>
          
          <div class="row">
          {{#each q in imageUrls}}
			  <div class="col-xs-6 col-md-3">
			    <a href="{{q}}" class="thumbnail">
			      <img src="{{q}}">
			    </a>
              </div>
          {{/each}}    
          </div>
        </div>
       </div>
    {{/with}}

      {{#each answers}}
        <details>
          <summary style='font-size:110%'>{{abbr}}...</summary>
          <div class="item row" style="margin-left:0px">
            <div class='col-lg-2'>
            <div class=' col-lg-8'>
            <p>{{detail}}</p>
            <br>
            <a href='/answer/{{aId}}'><button style="height:50%;width:75%" class='btn btn-primary btn-sm'>View Answer</button></a>
            </div>
            </div>
          </div>
        </details>        
        <br>
      {{/each}}
      
      <br>
      </div>
     <!-- {{#if answers}} -->
      
      <!-- {{/if}}      -->
	    </div>

   </template>