<template name="userlogin">
<div class="bar bar-header bar-light">
  <h1 class="title">{{message}}</h1>
</div>
<div class="content has-header">
      <div class="list list-inset">
        <label class="item item-input">
          <input class='email' type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
          <input class='password' type="text" placeholder="Last Name">
        </label>
      </div>
      <div class="padding">
        <button id='login' class="button button-block button-positive activated">Submit</button>
      </div>
      <!-- <div class="content has-header padding">
      <h1>{{message}}</h1>
      </div> -->
    </div>
</template>