<template name="notifications">
    <div class="bar bar-header has-tabs-top bar-positive" id="notificationhead">
        <div class="h1 title">
            Notifications
        </div>
    </div>
    <div class="container" style="margin-top:50px">
        <div class="list">
            {{#each n in notifications}}
            <a class="item">
                <article class="notification">
                    <div class="create-date">
                        <p class="create-month">{{n.createMonth}}</p>
                        <p class="create-day">{{n.createDay}}</p>
                    </div>

                    <div class="notification-desc">
                        <a href='/question/{{n.qId}}'>
                          <h4 class="notification-desc-header" id='{{n.nId}}'>{{n.title}}</h4>
                        </a>
                        <p class="notification-desc-detail">{{n.displayQTitle}}</p>
                    </div>

                    <p class="ion-close-round" data-pack="default" data-tags="delete, trash, kill, x" id="rb{{n.nId}}"></p>
                    <span class="smallSquare {{n.bgColor}}-bg {{n.bgColor}}-border"></span>
                </article>
            </a>
            {{/each}}
        </div>
    </div>
</template>